.article-detail__desc h2,
.content__text h2,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Tenor Sans, sans-serif
}

@-webkit-keyframes spinner {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 1
	}
	50% {
		opacity: .3
	}
	to {
		opacity: 1
	}
}

@keyframes pulse {
	0% {
		opacity: 1
	}
	50% {
		opacity: .3
	}
	to {
		opacity: 1
	}
}

* {
	-webkit-overflow-scrolling: touch
}

*,
:after,
:before {
	box-sizing: border-box
}

.mt40 {
	margin-top: 40px
}

.mt30 {
	margin-top: 30px
}

.mb30 {
	margin-bottom: 30px
}

.mt20 {
	margin-top: 20px
}

.mt0 {
	margin-top: 0
}

.mt-1 {
	margin-top: -1px
}

.cols {
	display: grid
}

.cols.--middle {
	grid-template-columns: 100%
}

@media only screen and (min-width:940px) {
	.cols.--middle {
		grid-column-gap: 30px;
		grid-template-columns: calc(100% - 350px) 320px
	}
}

@media only screen and (min-width:1152px) {
	.cols.--middle {
		grid-column-gap: 60px;
		grid-template-columns: calc(100% - 380px) 320px
	}
}

.cols.--full {
	grid-template-columns: minmax(100%, 1fr)
}

.cols.--default {
	grid-template-columns: 100%
}

@media only screen and (min-width:940px) {
	.cols.--default {
		grid-template-columns: auto 300px;
		grid-column-gap: 30px
	}
}

@media only screen and (min-width:1152px) {
	.cols.--default {
		grid-template-columns: auto 300px
	}
}

.cols .col__cnt {
	width: 100%
}

.cols .col__side {
	display: none
}

@media only screen and (min-width:940px) {
	.cols .col__side {
		display: block
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow-y: scroll;
	font-size: 16px;
	color: #303030;
	word-wrap: break-word;
	padding-bottom: 0!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-style: normal
}

ol,
ul {
	list-style: none
}

img,
svg {
	display: block;
	max-width: 100%
}

button,
input {
	font-family: inherit;
	outline: none
}

button {
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: none;
	appearance: none
}

button:not(:disabled) {
	cursor: pointer
}

button:disabled {
	pointer-events: none
}

.loader {
	position: relative;
	text-align: center
}

.loader.--active:before {
	content: "";
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	cursor: progress
}

.article-detail__desc,
.content__text {
	font-size: 19px;
	line-height: 1.5;
	color: #303030
}

.article-detail__desc:not(:first-child),
.content__text:not(:first-child) {
	margin-top: 1.2rem
}

.article-detail__desc li:not(.hooper-slide),
.content__text li:not(.hooper-slide) {
	color: #303030;
	font-weight: 400;
	list-style: none;
	line-height: 1.5;
	position: relative;
	display: block;
	padding-left: 2em
}

.article-detail__desc li:not(.hooper-slide):before,
.content__text li:not(.hooper-slide):before {
	position: absolute;
	line-height: 1
}

.article-detail__desc ul li:not(.hooper-slide):before,
.content__text ul li:not(.hooper-slide):before {
	content: "";
	top: .5em;
	transform: rotate(45deg);
	display: block;
	width: 12px;
	height: 12px;
	left: 0
}

.article-detail__desc ol li:not(.hooper-slide):not(.hooper-slide),
.article-detail__desc ol li:not(.hooper-slide):not(:first-child),
.article-detail__desc ul li:not(.hooper-slide):not(.hooper-slide),
.article-detail__desc ul li:not(.hooper-slide):not(:first-child),
.content__text ol li:not(.hooper-slide):not(.hooper-slide),
.content__text ol li:not(.hooper-slide):not(:first-child),
.content__text ul li:not(.hooper-slide):not(.hooper-slide),
.content__text ul li:not(.hooper-slide):not(:first-child) {
	margin-top: 1.2rem
}

.article-detail__desc ol,
.content__text ol {
	counter-reset: list1
}

.article-detail__desc ol li:before,
.content__text ol li:before {
	content: counter(list1) ".";
	counter-increment: list1;
	width: auto;
	height: auto;
	position: absolute;
	background: none!important;
	transform: none;
	top: .35em
}

.footer {
	margin-top: auto;
	position: relative
}

.container-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	position: relative;
	z-index: 1
}

.container {
	max-width: 100%;
	min-width: 320px
}

.sticky {
	position: sticky;
	top: 87px
}

.wrap {
	max-width: 1120px;
	min-width: 290px;
	margin-left: auto;
	margin-right: auto;
	flex: 1 1 auto;
	width: 100%;
	padding: 0 10px
}

@media only screen and (min-width:620px) {
	.wrap {
		width: 600px;
		padding: 0
	}
}

@media only screen and (min-width:768px) {
	.wrap {
		width: 650px
	}
}

@media only screen and (min-width:940px) {
	.wrap {
		width: 900px
	}
}

@media only screen and (min-width:1200px) {
	.wrap {
		width: 1120px
	}
}

.ad-wrap {
	max-width: 1290px;
	width: 100%;
	margin: 0 auto
}

.nuxt-root {
	position: relative;
	text-align: left;
	text-align: initial
}

.main-content {
	transition: all .3s ease .5s;
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto
}

.with-site-branding .main-content {
	max-width: 1300px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff
}

.icon-close {
	position: absolute;
	width: 25px;
	height: 25px;
	border: none;
	background: none;
	top: 10px;
	right: 10px
}



@media only screen and (min-width:1152px) {
	.icon-close {
		right: 0
	}
}

.icon-close:after,
.icon-close:before {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	transition: all .15s linear 0s
}

.icon-close:before {
	transform: rotate(45deg)
}

.icon-close:after {
	transform: rotate(-45deg)
}

.hooper {
	height: auto
}

.hooper,
.hooper:focus {
	outline: none
}

.mobile-video-feed-page {
	background-color: #303030
}

.app_with_video-feed .app__footer,
.app_with_video-feed .app__navbar {
	display: none
}

@media only screen and (min-width:940px) {
	.app_with_video-feed .app__footer,
	.app_with_video-feed .app__navbar {
		display: block
	}
}



.article-detail__desc,
.content__text {
	font-family: EB Garamond, serif
}

.btn-default {
	font-family: OpenSans, sans-serif
}


@font-face {
	font-family: Tenor Sans;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("bx6ANxqUneKx06UkIXISn3F4Cl2I.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: Tenor Sans;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("bx6ANxqUneKx06UkIXISn3t4Cl2I.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: Tenor Sans;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("bx6ANxqUneKx06UkIXISn3V4Cg.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDY1ZzPJ.woff2") format("woff2");
	unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweD81ZzPJ.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDc1ZzPJ.woff2") format("woff2");
	unicode-range: U+1f??
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDg1ZzPJ.woff2") format("woff2");
	unicode-range: U+0370-03ff
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDQ1ZzPJ.woff2") format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+1ea0-1ef9, U+20ab
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDU1ZzPJ.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDs1Zw.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDY1ZzPJ.woff2") format("woff2");
	unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweD81ZzPJ.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDc1ZzPJ.woff2") format("woff2");
	unicode-range: U+1f??
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDg1ZzPJ.woff2") format("woff2");
	unicode-range: U+0370-03ff
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDQ1ZzPJ.woff2") format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+1ea0-1ef9, U+20ab
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDU1ZzPJ.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDs1Zw.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDY1ZzPJ.woff2") format("woff2");
	unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweD81ZzPJ.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDc1ZzPJ.woff2") format("woff2");
	unicode-range: U+1f??
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDg1ZzPJ.woff2") format("woff2");
	unicode-range: U+0370-03ff
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDQ1ZzPJ.woff2") format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+1ea0-1ef9, U+20ab
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDU1ZzPJ.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("SlGWmQSNjdsmc35JDF1K5GRweDs1Zw.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR4SDktYw.woff2") format("woff2");
	unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GRxSDktYw.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR5SDktYw.woff2") format("woff2");
	unicode-range: U+1f??
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR2SDktYw.woff2") format("woff2");
	unicode-range: U+0370-03ff
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR6SDktYw.woff2") format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+1ea0-1ef9, U+20ab
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR7SDktYw.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR1SDk.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR4SDktYw.woff2") format("woff2");
	unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GRxSDktYw.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR5SDktYw.woff2") format("woff2");
	unicode-range: U+1f??
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR2SDktYw.woff2") format("woff2");
	unicode-range: U+0370-03ff
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR6SDktYw.woff2") format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+1ea0-1ef9, U+20ab
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR7SDktYw.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR1SDk.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR4SDktYw.woff2") format("woff2");
	unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GRxSDktYw.woff2") format("woff2");
	unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR5SDktYw.woff2") format("woff2");
	unicode-range: U+1f??
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR2SDktYw.woff2") format("woff2");
	unicode-range: U+0370-03ff
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR6SDktYw.woff2") format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+1ea0-1ef9, U+20ab
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR7SDktYw.woff2") format("woff2");
	unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("SlGUmQSNjdsmc35JDF1K5GR1SDk.woff2") format("woff2");
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

::-moz-selection {
	background-color: #ff508b;
	color: #fff
}

::selection {
	background-color: #ff508b;
	color: #fff
}

.email-subsribe-all-page,
.email-subsribe-confirm-page {
	background-color: #c4c4c4
}

h6 span {
	font-size: 18px;
	line-height: 1.3;
	display: inline;
	box-shadow: inset 0 -12px 0 #ffece6
}

@media only screen and (min-width:576px) {
	h6 span {
		font-size: 22px
	}
}

.content__text a {
	color: #ff508b;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: 700;
	box-shadow: inset 0 -.15em 0 0 #fff, inset 0 -.2em 0 0 currentColor
}

.article-detail__desc li:not(.hooper-slide),
.content__text li:not(.hooper-slide) {
	font-size: 16px
}

@media only screen and (min-width:650px) {
	.article-detail__desc li:not(.hooper-slide),
	.content__text li:not(.hooper-slide) {
		font-size: 19px
	}
}

.article-detail__desc li:not(.hooper-slide):before,
.content__text li:not(.hooper-slide):before {
	background-color: #f796b7
}

.article-detail__desc ol li:before,
.content__text ol li:before {
	background: none;
	color: #f796b7;
	left: -.2em
}

.btn-default {
	transition: opacity .15s linear 0s;
	background: transparent;
	border: 1px solid transparent;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center
}

.btn-default:hover {
	opacity: .8
}

.btn-default.--pink {
	border-color: #ff508b;
	color: #ff508b
}

.btn-default.--pink-fill {
	background: #ff508b;
	color: #fff
}

.btn-default.--white {
	border-color: #fff;
	color: #fff
}

.btn-default.--white-fill {
	color: #000;
	background: #fff
}

.is-empty {
	border: 1px solid #ffbfd4
}

@media only screen and (max-width:575px) {
	.main_banner1 {
		display: none !important;
	}
}
@media only screen and (min-width:575px) {
	.ads1 {
		display: none !important;
	}
}